<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FSharp.ViewModule.Core" version="1.0.4.0" targetFramework="net452" />
  <package id="FsXaml.Wpf" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Encryption.MachineKey" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Serialization.NetJSON" version="1.1.1" targetFramework="net452" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net452" />
  <package id="NetJSON" version="1.2.1.8" targetFramework="net452" />
</packages>